@media only screen and (max-width: 500px) {
    body {
    	background-image: none;
    	//background-color: lightblue;
    	margin: auto;
    }
	.login .content {
	   	width: 100%; 
	    height: 100%;
	    background: #fff;
	  	border-radius: none;
	  	/* display: block; */
	  	margin: 0;
	  	//margin-left: 10px;
	  	border: none;
	  	//margin: 6rem;
	  	box-shadow: none;
	  	padding-left: 10px;
    	padding-right: 20px;
	  	//position: relative;
	}
	.log_info{
		text-align: left;
		font-size: 14.8px;
	}

	button {
		
		background-color: none;
	    color: white;
	    

	    border-radius: 0;
	    
	    //padding: 14px 25px;

	    text-align: center;
	    text-decoration: none;
	    display: inline-block;
	    width: 100%;
	    margin-top: none;
	    border: none;
	    position: none;
	}

	 footer {
		display:block;
		position: absolute;
		bottom: 0;
		width: 100%;
		height: inherit;
	
	} 
	hr {
    display: none;
  	}

}