body {
  background-image: url("../img/fullscreen_bg_image.jpg");
  font-family: "Calibri",Helvetica,Arial,sans-serif;
  background-size: cover; }

@font-face {
  font-family: 'Calibri';
  src: url("Calibri.eot");
  /* IE9 Compat Modes */
  src: url("Calibri.eot?#iefix") format("embedded-opentype"), url("Calibri.woff") format("woff"), url("Calibri.ttf") format("truetype"), url("Calibri.svg#svgFontName") format("svg");
  /* Legacy iOS */ }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #d0dce7;
  margin: 1em 0;
  padding: 0; }

h3 {
  font-family: "Calibri",Helvetica,Arial,sans-serif;
  margin-bottom: 40px; }

.login .content {
  padding: 1em;
  border: 1px solid #e1e8ed;
  width: 500px;
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  margin-top: 6rem;
  position: relative;
  width: 500px;
  font-size: 24px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.log_info {
  color: #d0dce7; }
  .log_info a {
    color: #007ee5;
    text-decoration: none; }

/* form starting stylings ------------------------------- */
.group {
  position: relative;
  margin-bottom: 30px; }

input {
  margin-top: 20px;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #d0dce7;
  font-family: inherit; }

input:focus {
  outline: none; }

/* LABEL ======================================= */
label {
  color: #a6b0b7;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all; }

/* active state */
input:focus ~ label, input:valid ~ label {
  top: -20px;
  font-size: 14px; }

/* BOTTOM BARS ================================= */
.bar {
  position: relative;
  display: block;
  width: 300px; }

.bar:before, .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #5264AE;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all; }

.bar:before {
  left: 50%; }

.bar:after {
  right: 50%; }

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width: 50%; }

/* HIGHLIGHTER ================================== */
.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5; }

/* active state */
input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease; }

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from {
    background: #5264AE; }
  to {
    width: 0;
    background: transparent; } }

@-moz-keyframes inputHighlighter {
  from {
    background: #5264AE; }
  to {
    width: 0;
    background: transparent; } }

@keyframes inputHighlighter {
  from {
    background: #5264AE; }
  to {
    width: 0;
    background: transparent; } }

button {
  background-color: #007ee5;
  color: white;
  border-radius: .20em;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  margin-top: 30px;
  border: none; }

@media only screen and (max-width: 500px) {
  body {
    background-image: none;
    margin: auto; }
  .login .content {
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: none;
    /* display: block; */
    margin: 0;
    border: none;
    box-shadow: none;
    padding-left: 10px;
    padding-right: 20px; }
  .log_info {
    text-align: left;
    font-size: 14.8px; }
  button {
    background-color: none;
    color: white;
    border-radius: 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    margin-top: none;
    border: none;
    position: none; }
  footer {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: inherit; }
  hr {
    display: none; } }
