body {
  background-color: #f5f8f9;
  font-family: "Calibri",Helvetica,Arial,sans-serif;
  align-items: center;
  text-rendering: optimizeLegibility; }

@font-face {
  font-family: 'Calibri';
  src: url("Calibri.eot");
  /* IE9 Compat Modes */
  src: url("Calibri.eot?#iefix") format("embedded-opentype"), url("Calibri.woff") format("woff"), url("Calibri.ttf") format("truetype"), url("Calibri.svg#svgFontName") format("svg");
  /* Legacy iOS */ }

header {
  display: block;
  width: 1170px;
  height: 300px;
  background-color: #ffffff;
  margin: 0 auto;
  border: none;
  box-shadow: 0 11px 28px rgba(243, 242, 242, 0.25), 0 0px 16px rgba(193, 193, 193, 0.22); }

.container-profile {
  margin: 0 auto;
  margin-top: 40px;
  width: 1170px;
  height: 300px;
  background-color: #ffffff;
  border: 1px solid white; }

button {
  width: 100px;
  border-radius: 3px;
  border: 1px solid #007ee5;
  background-color: white;
  color: #007ee5;
  font-family: 'Calibri';
  font-weight: bold;
  height: 30px;
  text-rendering: optimizeLegibility; }

span, h1 {
  font-family: 'Calibri';
  color: #727e88;
  font-weight: normal;
  text-rendering: optimizeLegibility; }

.btn_logout {
  float: right;
  width: 100px;
  border-radius: 3px;
  border: 1px solid #007ee5;
  background-color: white;
  color: #007ee5;
  font-family: 'Calibri';
  font-weight: bold;
  height: 30px;
  padding-left: 20px;
  padding-top: 10px;
  color: #007ee5;
  font-family: 'Calibri';
  font-weight: bold;
  height: 30px;
  text-decoration: none; }

.clearfix:after {
  content: " ";
  /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both; }

.logout {
  padding: 20px 24px 0 0;
  height: 30px; }

.upload {
  width: 220px;
  height: 45px;
  border-radius: 2px;
  color: #727e88;
  border-color: #727e88; }

.cover_img {
  margin-top: 24px; }

.header_info {
  width: 100%;
  height: 170px; }

.profile_pic {
  position: absolute;
  width: 170px;
  height: 175px;
  background-image: url("../img/profile_image.jpg");
  background-position: -90px 0px;
  margin-left: 20px;
  margin-top: -20px;
  box-shadow: -13px 17px 15px 19px rgba(243, 242, 242, 0.25), 0 4px 30px #8a9598; }

.prof_header_info {
  height: 110px;
  width: 1000px;
  margin-left: 170px; }

.prof_header_info .info {
  height: inherit;
  float: left;
  margin-left: 40px; }

.prof_header_info .info_ranks {
  height: inherit;
  float: right;
  width: 230px;
  margin-right: 24px; }

.header_info .opts {
  border-top: 3px solid #eceded;
  height: 65px; }

.info span {
  display: block;
  margin: 0 20px 10px 0; }

.stars span {
  font-size: 22px; }

.info_ranks .stars {
  display: inline-block; }

.info_ranks .reviews {
  float: right;
  display: inline-block; }

.reviews span {
  margin-left: 20px; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal; }
  ul li {
    width: 100%;
    display: inline;
    margin-right: 20px;
    padding-bottom: 20px;
    height: 100%; }

.opts .boxcont {
  display: inline-block;
  margin-left: 170px;
  height: 100%; }

.boxcont ul {
  margin-top: 15px;
  margin-left: 30px; }

.selected {
  border-bottom: 3px solid #007ee5; }

.container {
  margin-top: 8px; }

.container-follower {
  display: inline-block;
  float: right;
  width: 140px;
  margin-top: 10px;
  height: 100%;
  margin-right: 24px; }

.label {
  float: right;
  display: inline-block;
  margin-top: 1px; }

.container-follower span {
  display: inline-block; }

.ion-android-add-circle {
  font-size: 25px; }

.label span {
  margin-left: 5px; }

.info .pro_name {
  color: black;
  font-weight: bold;
  font-size: 18px; }

.inline {
  display: inline-block; }

.block {
  display: block; }

.contaier-inner {
  margin: 40px 0 0 40px; }

.title {
  font-size: 24px;
  margin-bottom: 10px; }

.contaier-inner span {
  display: block;
  height: 37px;
  width: auto;
  padding-left: 0px; }

.form {
  margin-bottom: 1px;
  height: 37px; }

.forsmallscreen {
  display: none; }

.contaier-inner .name {
  width: inherit; }

.contaier-inner .site {
  width: inherit; }

.contaier-inner .contact {
  width: inherit; }

.contaier-inner .address {
  width: inherit; }

.form_button {
  border: none;
  background-color: #ecf1f5;
  width: 43px;
  height: 37px;
  color: #727e88; }

.popup {
  position: absolute;
  height: 37px; }

.popup_name {
  position: absolute;
  height: 37px;
  margin-left: 4px; }

.form_button:focus {
  color: white;
  background-color: #007ee5;
  color: white; }

.business {
  display: none; }

/* form starting stylings ------------------------------- */
.group {
  position: relative;
  margin-bottom: 30px; }

input {
  margin-top: 20px;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #d0dce7;
  font-family: inherit; }

input:focus {
  outline: none; }

/* LABEL ======================================= */
label {
  color: #a6b0b7;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all; }

/* active state */
input:focus ~ label, input:valid ~ label {
  top: -20px;
  font-size: 14px; }

/* BOTTOM BARS ================================= */
.bar {
  position: relative;
  display: block;
  width: 300px; }

.bar:before, .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #5264AE;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all; }

.bar:before {
  left: 50%; }

.bar:after {
  right: 50%; }

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width: 50%; }

/* HIGHLIGHTER ================================== */
.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5; }

/* active state */
input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease; }

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from {
    background: #5264AE; }
  to {
    width: 0;
    background: transparent; } }

@-moz-keyframes inputHighlighter {
  from {
    background: #5264AE; }
  to {
    width: 0;
    background: transparent; } }

@keyframes inputHighlighter {
  from {
    background: #5264AE; }
  to {
    width: 0;
    background: transparent; } }

/* Popup container */
.popup {
  display: inline-block;
  cursor: pointer; }

/* The actual popup (appears on top) */
.popuptext {
  visibility: hidden;
  width: 300px;
  background-color: #ffffff;
  color: #red;
  text-align: left;
  padding: 2px 0;
  padding-bottom: 20px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
  box-shadow: 0 11px 48px rgba(31, 31, 31, 0.25), 0 0px 16px rgba(193, 193, 193, 0.22);
  border: none; }
  .popuptext .group {
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px; }
    .popuptext .group label {
      left: 10px; }
    .popuptext .group center {
      margin-bottom: 10px; }
  .popuptext input {
    width: 90%; }
  .popuptext .popup_btn {
    height: 25px;
    width: 76px; }

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 10%;
  margin-left: -5px;
  border-width: 11px;
  border-style: solid;
  border-color: #270808 transparent transparent transparent;
  border-top-color: #fff; }

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s; }

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.button2 {
  background-color: #ecf1f5;
  width: 43px; }

.button2:focus {
  background-color: #007ee5;
  color: white;
  width: 43px; }

.label2 {
  /* 	 	position: relative;
    	top: 7px;
 */
  top: 7px;
  background-color: #f5f8f8;
  height: 37px;
  margin-right: -4px; }

.button2, .label2 {
  display: inline-block; }

.button-icon {
  position: relative;
  top: 8px;
  left: 10px; }

.blue {
  background-color: #007ee5;
  color: white; }

.label-icon {
  position: relative;
  top: 1px;
  left: 0px;
  margin-left: 6px; }

.lable_name {
  position: relative;
  top: 9px;
  height: 20px;
  padding-right: 10px; }

.label_fname {
  font-weight: bold;
  color: black;
  margin-left: 8px;
  font-size: 18px; }

@media only screen and (max-width: 500px) {
  header {
    width: 100%;
    height: 375px;
    background-color: #f5f8f9;
    border: none;
    box-shadow: none; }
  .cover_img {
    display: none; }
  .logout {
    padding: 0;
    height: 30px;
    width: 100%;
    margin-top: 30px; }
  .btn_logout {
    width: 80px; }
  button, a {
    border: none;
    background: none; }
  .profile_pic {
    position: relative;
    display: block;
    width: 127px;
    height: 129px;
    background-image: url(../img/profile_image.jpg);
    background-position: -90px 0px;
    margin: 0 auto;
    margin-top: 10px;
    box-shadow: none; }
  .prof_header_info {
    height: 110px;
    width: 100%;
    float: none;
    margin: 0 auto;
    align-items: center; }
  .prof_header_info .info {
    height: 84px;
    float: none;
    margin: 0 auto;
    margin-top: 18px;
    margin-left: 20px; }
  .info .pro_name {
    color: black;
    font-weight: bold;
    font-size: 18px;
    width: 100%;
    margin-left: 70px; }
  .prof_header_info .info_ranks {
    height: inherit;
    float: none;
    width: 100%;
    margin-right: 0;
    margin-left: 20px; }
    .prof_header_info .info_ranks .stars span {
      color: #007ee5; }
  .info_ranks .reviews {
    float: none;
    display: block;
    padding: 0;
    margin: 0; }
    .info_ranks .reviews span {
      margin: 0; }
  .header_info .opts {
    border-top: none;
    height: 65px;
    margin-top: 10px;
    width: 100%;
    height: 300px;
    display: flex; }
    .header_info .opts .boxcont {
      display: block;
      height: 34px;
      margin: auto 0;
      order: 2;
      position: absolute;
      margin-top: 64px;
      margin-left: 20px;
      font-size: 12px; }
      .header_info .opts .boxcont ul {
        margin: auto 0;
        background-color: #ffffff;
        padding: 10px;
        padding-right: 70px;
        margin-left: -30px;
        width: 100%;
        box-shadow: 0 11px 28px rgba(243, 242, 242, 0.25), 0 0px 16px rgba(193, 193, 193, 0.22); }
        .header_info .opts .boxcont ul li {
          padding-bottom: 7px; }
        .header_info .opts .boxcont ul .li3 {
          display: none; }
        .header_info .opts .boxcont ul .li1 {
          margin-left: 24px; }
        .header_info .opts .boxcont ul .selected {
          border-bottom: 1px solid #007ee5; }
    .header_info .opts .container-follower {
      order: 1;
      float: none;
      margin: auto 0;
      width: 100%;
      margin-top: 16px;
      margin-left: 19px;
      height: 30px; }
      .header_info .opts .container-follower span {
        display: inline-block;
        margin: auto 0; }
      .header_info .opts .container-follower .label {
        float: none;
        margin-top: 5px;
        margin-left: 6px;
        position: absolute; }
  .container-profile {
    width: 100%;
    height: auto; }
  .contaier-inner {
    margin-bottom: 30px; }
    .contaier-inner span {
      background-color: #ffffff; }
      .contaier-inner span button {
        display: none; }
    .contaier-inner .button2 {
      display: none; }
    .contaier-inner .title {
      display: inline-block; }
    .contaier-inner .forsmallscreen {
      display: inline-block;
      float: right; }
    .contaier-inner .form_title {
      margin-bottom: 50px;
      margin-left: 5px; }
    .contaier-inner .name {
      margin-bottom: 5px;
      height: 20px; }
      .contaier-inner .name span {
        color: black;
        font-weight: bold; }
    .contaier-inner .business {
      display: inline;
      margin-top: 3px; }
    .contaier-inner .action {
      float: right;
      margin-top: 14px;
      margin-right: 20px; }
      .contaier-inner .action button {
        width: 80px; }
  .form .label2 {
    background-color: white; }
  .business .form {
    background-color: transparent; }
  .label_business {
    color: black;
    margin-left: 6px;
    color: #727e88; }
  .btn_logout {
    color: #007ee5;
    font-family: 'Calibri';
    font-weight: bold;
    height: 30px;
    text-decoration: none;
    border-bottom: none; } }
