@media only screen and (max-width: 500px) {
	//reseter

	

//end reseter

	
	header {
		width: 100%;
		height: 375px;
	   	background-color: #f5f8f9;
	    border:none;
	    box-shadow: none;
	}

	.cover_img{
		display: none;
	}
	.logout {
	    padding:0;
	    height: 30px;
	    width: 100%;
	    margin-top: 30px;

	}
	.btn_logout{
		    width: 80px;
	}
	button , a{
		border: none;
    	background: none;
	}
	.profile_pic {
	    position: relative;
	    display: block;
	    width: 127px;
	    height: 129px;
	    background-image: url(../img/profile_image.jpg);
	    background-position: -90px 0px;
	    //margin-left: 20px;
	    margin: 0 auto;
	    margin-top: 10px;


	    box-shadow: none;
	}


	.prof_header_info {
	//	border: 3px solid #73AD21;  //debug
		//margin-top: 100px;
		//display: inline-block;
		height: 110px; 
		width: 100%;
		//padding-right: 24px;
		float: none;
		margin: 0 auto;
		align-items :center;
		//loat: right;
	}
	.prof_header_info .info {
		height: 84px;
		float: none;
		margin: 0 auto;
		margin-top: 18px;
		margin-left: 20px;
	}

	
	.info .pro_name{
		color: black;
		font-weight: bold;
		font-size: 18px;
		width: 100%;
		margin-left: 70px;
	}
	.prof_header_info .info_ranks {
		height: inherit;
		float: none;
		width: 100%;
		margin-right: 0;
		margin-left: 20px;
		.stars {
			span{
				color: 	#007ee5;
			}
		}

	}
	.info_ranks .reviews {
	    float: none;
	    display: block;
	    padding: 0;
	    margin : 0;
	    span{
	    	margin:0;
	    }
	}

	.header_info .opts {
	    border-top: none;
	    height: 65px;
	    margin-top: 10px;
	    width: 100%;
	    height: 300px;
	    //border: 1px solid #c3c3c3;
	    display: flex;
	    .boxcont {
		    display: block;
		    height: 34px;
		    margin: auto 0;	
		    order :2;
		    position: absolute;
		    margin-top: 64px;
		    margin-left:20px;
		    font-size: 12px;
		    ul{
		    	margin: auto 0;
		    	background-color: #ffffff;
    			padding: 10px;
    			padding-right:70px; 
    			margin-left: -30px;
    			width: 100%;
   				box-shadow: 0 11px 28px rgba(243, 242, 242, 0.25), 0 0px 16px rgba(193, 193, 193, 0.22);

    			li{
    				padding-bottom: 7px;
    			}
		    	.li3{
		    		display: none;
		    	}
		    	.li1{
		    		margin-left:24px;
		    	}
		    	.selected{
					border-bottom: 1px solid #007ee5; 
				}
		    }
		}
		
		.container-follower{
			order :1;
			float: none;
			margin: auto 0;
			width: 100%;
			margin-top: 16px;
    		margin-left: 19px;
    		height: 30px;

			//height: 30px;
			span{
				    display: inline-block;
				    margin: auto 0;
			}
			.label{
				float: none;
			    margin-top: 5px;
			    margin-left: 6px;
			    position: absolute;
			}

		}
	}

	.container-profile{
		width: 100%;
		height: auto;
	}

	.contaier-inner{
		margin-bottom: 30px;
		span{
			background-color: #ffffff;
			button{
				display: none;
			}
		}
		.button2{
			display: none;
		}
		.title{
			display: inline-block;
		}
		.forsmallscreen{
			display: inline-block;
			float: right;
		}

		.form_title{
			margin-bottom: 50px;
			margin-left: 5px;

		}
		.name {
			margin-bottom: 5px;
			height: 20px;
			span{
				color: black;
				font-weight: bold;
			}
		}
		.business{
			display: inline;
			margin-top: 3px;
		}
		.action{    
			float: right;
    		margin-top: 14px;
    		margin-right: 20px;
    		button {
    		width: 80px;
    		}
    	}

    	
	}

	.form {
		
		.label2{
			background-color: white;
		}
	}

	.business{
		
		.form{
			background-color: transparent;
		}
	}


	.label_business{
		color: black;
	    margin-left: 6px;
	    color:  #727e88;
		}

	.btn_logout {
		color: #007ee5;
	    font-family: 'Calibri';
	    font-weight: bold;
	    height: 30px;
		text-decoration: none;
		border-bottom: none;
	}	

}
	