body {
	background-color: #f5f8f9;
	font-family: "Calibri",Helvetica,Arial,sans-serif;
    align-items: center;
    text-rendering:optimizeLegibility;
}

@font-face {
  font-family: 'Calibri';
  src: url('Calibri.eot'); /* IE9 Compat Modes */
  src: url('Calibri.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Calibri.woff') format('woff'), /* Modern Browsers */
       url('Calibri.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Calibri.svg#svgFontName') format('svg'); /* Legacy iOS */
}

header {
	  
	//border: 1px solid #d0dce7;
    display: block;
    width: 1170px; 
    height: 300px;
    background-color: #ffffff;
    margin: 0 auto;
    border:none;
   	box-shadow: 0 11px 28px rgba(243, 242, 242, 0.25), 0 0px 16px rgba(193, 193, 193, 0.22);

}
.container-profile {
	margin: 0 auto;
	margin-top: 40px;
	width: 1170px; 
    height: 300px;
    //border:1;
    background-color: #ffffff;
   	//box-shadow: 0 11px 28px rgba(243, 242, 242, 0.25), 0 0px 16px rgba(193, 193, 193, 0.22);
    
    border: 1px solid white;  //debug
    //position: relative;

}

button {
	width: 100px;
	border-radius: 3px;
	border: 1px solid #007ee5;  
	background-color: white;
	color: #007ee5;
	font-family: 'Calibri';
	font-weight: bold;
	height: 30px;
	text-rendering:optimizeLegibility;

}
span , h1 {
	font-family: 'Calibri';
	color: rgb(114, 126, 136);
	font-weight: normal;
	text-rendering:optimizeLegibility;
}

.btn_logout {


	float: right;

	width: 100px;
	border-radius: 3px;
	border: 1px solid #007ee5;  
	background-color: white;
	color: #007ee5;
	font-family: 'Calibri';
	font-weight: bold;
	height: 30px;

	    padding-left: 20px;
    padding-top: 10px;


	color: #007ee5;
    font-family: 'Calibri';
    font-weight: bold;
    height: 30px;
	text-decoration: none;	


}

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
.logout {
	padding: 20px 24px 0 0;
	height: 30px;
}
.upload {

	width: 220px;
	height: 45px;
	border-radius: 2px;
	color: #727e88;
	border-color: #727e88;
}
.cover_img {
	margin-top: 24px;
}

.header_info{
	    width: 100%;
    //display: inline-block;
    //border: 3px solid #73AD21;  //debug
	
    height: 170px;
}
.profile_pic  {
	position: absolute;
    width: 170px;
	height: 175px;

    background-image: url("../img/profile_image.jpg");
    //background-repeat: no-repeat;
    background-position: -90px 0px;

	margin-left: 20px;
	margin-top: -20px;
    //box-shadow: 0 11px 28px rgba(243, 242, 242, 0.25), 0 4px 30px rgba(193, 193, 193, 0.22); 
    box-shadow: -13px 17px 15px 19px rgba(243, 242, 242, 0.25), 0 4px 30px rgb(138, 149, 152);
    //display: inline-block;
 
   // border: 3px solid #73AD21;  //debug
	
}
.prof_header_info {
//	border: 3px solid #73AD21;  //debug
	//margin-top: 100px;
	//display: inline-block;
	height: 110px; 
	width: 1000px;
	//padding-right: 24px;
	margin-left: 170px;
	//float: right;
	//loat: right;
}
.prof_header_info .info {
	//border: 3px solid #73AD21;  //debug
	//margin-top: 100px;
	//display: inline-block;
	height: inherit;
	//width: 990px;
	//margin-left: 170px;
	float: left;
	margin-left: 40px;
}
.prof_header_info .info_ranks {
	//border: 3px solid #73AD21;  //debug
	//margin-top: 100px;
	//display: inline-block;
	height: inherit;
	//width: 990px;
	//margin-left: 170px;
	float: right;
	width: 230px;
	    margin-right: 24px;
	//float: right;
	//loat: right;
}
.header_info .opts {
	border-top: 3px solid #eceded;  //debug
	height: 65px;
}
.info span{
	display: block;
	margin: 0 20px 10px 0;
}
.stars span{
	    font-size: 22px;
}

.info_ranks .stars{
	display: inline-block;
}
.info_ranks .reviews{
	float: right;
	display: inline-block;

}
.reviews span{
	
	margin-left: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;

    li {
		width: 100%;
		display: inline;
		margin-right: 20px;
		padding-bottom: 20px;
		height: 100%;
	}
}




.opts .boxcont {
	display: inline-block;
	margin-left: 170px;
	    height: 100%;
}
.boxcont ul{
	margin-top: 15px;
	margin-left: 30px;
} 

.selected{
	border-bottom: 3px solid #007ee5; 
		 

}
.container{
	    margin-top: 8px;
}
.container-follower{
	display: inline-block;
	float: right;
	width: 140px;
	margin-top: 10px;
	height: 100%;
    margin-right: 24px;
}

.label{
	float: right;
	display: inline-block;
	margin-top: 1px;
}
.container-follower span{
	display: inline-block;
}
.ion-android-add-circle{
	font-size: 25px;
}
.label span {
	//font-size: 12px;
	margin-left: 5px;
}

.info .pro_name{
	color: black;
	font-weight: bold;
	font-size: 18px;
}

.inline {
	display: inline-block;
}
.block {
	display:block;
}

.contaier-inner{
	margin: 40px 0 0 40px;
}
 
.title{
	font-size: 24px;
	margin-bottom: 10px;
}
.contaier-inner span{
	//padding-bottom: 10px;
	display: block;
	//background-color: #f5f8f8;
	height: 37px;
	width: auto;
	padding-left: 0px;
}
.form{
	//padding-bottom: 1px;
	margin-bottom: 1px;
	height: 37px;
	//width: 100px;

}
.forsmallscreen{
			display: none;
}
.contaier-inner .name{
	width: inherit;
	
}
.contaier-inner .site{
	width: inherit;
	
}
.contaier-inner .contact{
	width: inherit;
	
}
.contaier-inner .address{
	width: inherit;
	
}
.form_button {

	
	border:none;
	background-color: #ecf1f5;
	width: 43px;
	height: 37px;
	color: rgb(114, 126, 136);
	

}
.popup{
	position: absolute;
    height: 37px;
    //margin-left: 4px;
}

.popup_name{
	position: absolute;
    height: 37px;
    margin-left: 4px;
}


.form_button:focus {

	
	//border:none;
	color: white;
	background-color: #007ee5;
	//width: 43px;
	//height: 37px;
	color: white;

}

.business{
			display: none;
		}



//mixin

@mixin  formdesign(){
	
	/* form starting stylings ------------------------------- */
	.group 			  { 
	  position:relative; 
	  margin-bottom:30px; 
	}

	input 				{
	  margin-top: 20px;
	  font-size:18px;
	  padding:10px 10px 10px 5px;
	  display:block;
	  width:100%;
	  border:none;
	  border-bottom:1px solid #d0dce7;
	  font-family: inherit;

	}
	input:focus { outline:none; }

	/* LABEL ======================================= */
	label 				 {
	  color:#a6b0b7; 
	  font-size:18px;
	  font-weight:normal;
	  position:absolute;
	  //pointer-events:none;
	  left:5px;
	  top:10px;
	  transition:0.2s ease all; 
	  -moz-transition:0.2s ease all; 
	  -webkit-transition:0.2s ease all;
	}

	/* active state */
	input:focus ~ label, input:valid ~ label 		{
	  top:-20px;
	  font-size:14px;
	 // color:#a6b0b7;
	}

	/* BOTTOM BARS ================================= */
	.bar 	{ position:relative; display:block; width:300px; }
	.bar:before, .bar:after 	{
	  content:'';
	  height:2px; 
	  width:0;
	  bottom:1px; 
	  position:absolute;
	  background:#5264AE; 
	  transition:0.2s ease all; 
	  -moz-transition:0.2s ease all; 
	  -webkit-transition:0.2s ease all;
	}
	.bar:before {
	  left:50%;
	}
	.bar:after {
	  right:50%; 
	}

	/* active state */
	input:focus ~ .bar:before, input:focus ~ .bar:after {
	  width:50%;
	}

	/* HIGHLIGHTER ================================== */
	.highlight {
	  position:absolute;
	  height:60%; 
	  width:100px; 
	  top:25%; 
	  left:0;
	  pointer-events:none;
	  opacity:0.5;
	}

	/* active state */
	input:focus ~ .highlight {
	  -webkit-animation:inputHighlighter 0.3s ease;
	  -moz-animation:inputHighlighter 0.3s ease;
	  animation:inputHighlighter 0.3s ease;
	}

	/* ANIMATIONS ================ */
	@-webkit-keyframes inputHighlighter {
		from { background:#5264AE; }
	  to 	{ width:0; background:transparent; }
	}
	@-moz-keyframes inputHighlighter {
		from { background:#5264AE; }
	  to 	{ width:0; background:transparent; }
	}
	@keyframes inputHighlighter {
		from { background:#5264AE; }
	  to 	{ width:0; background:transparent; }
	}


	
}
@include formdesign();
//end of mixin



@mixin popup(){

	/* Popup container */
	.popup {
	    //position: relative;
	    display: inline-block;
	    cursor: pointer;
	}

	/* The actual popup (appears on top) */
	//.popup
	 .popuptext {
	    visibility: hidden;
	    width: 300px;
	    background-color: #ffffff;
	    color: #red;
	    text-align: left;
	    padding: 2px 0;
	    padding-bottom:20px;
	    position: absolute;
	    z-index: 1;
	    bottom: 125%;
	    left: 50%;
	    margin-left: -80px;
	    box-shadow: 0 11px 48px rgba(31, 31, 31, 0.25), 0 0px 16px rgba(193, 193, 193, 0.22);
	    border:none;
	    //height: 300px;
	    .group{
	    	margin-bottom: 10px;
	    	padding-left: 10px;
	    	padding-right: 10px;
	    	label{
	    		left: 10px;
	    	}
	    	center{
	    		margin-bottom: 10px;
	    	}
	    }
	    input{
	    	width: 90%;
	    //	pointer-events: visiblePainted;
	    }
	    .popup_btn{
	    	    height: 25px;
    			width: 76px;

	    }
	}

	/* Popup arrow */
	.popup .popuptext::after {
	        content: "";
		    position: absolute;
		    top: 100%;
		    left: 10%;
		    margin-left: -5px;
		    border-width: 11px;
		    border-style: solid;
		    border-color: #270808 transparent transparent transparent;
		    border-top-color: #fff;
			}

	/* Toggle this class when clicking on the popup container (hide and show the popup) */
	.popup .show {
	//	pointer-events: none;
	    visibility: visible;
	    -webkit-animation: fadeIn 1s;
	    animation: fadeIn 1s;
	}

	/* Add animation (fade in the popup) */
	@-webkit-keyframes fadeIn {
	    from {opacity: 0;} 
	    to {opacity: 1;}
	}

	@keyframes fadeIn {
	    from {opacity: 0;}
	    to {opacity:1 ;}
	}


}

@include popup();

.button2 {
	background-color: #ecf1f5;
    //height: 100%;
    width: 43px;

}
.button2:focus {
	    background-color: #007ee5;
	    color: white;
	    width: 43px;
}
.label2{
	 	
/* 	 	position: relative;
    	top: 7px;
 */
 	top: 7px;
 	background-color: #f5f8f8;
	height: 37px;
	margin-right: -4px;
}
.button2 , .label2{
		display: inline-block;

		}
	.button-icon{
		position: relative;
	    top: 8px;
	    left: 10px;
	}
.blue{
	background-color: #007ee5;
	color: white;
//	pointer-events: visiblePainted;
}
.label-icon{
    position: relative;
    top: 1px;
    left: 0px;
    margin-left: 6px;
}

.lable_name{
	position: relative;
	top: 9px;
	height: 20px;
	padding-right: 10px;
}

.label_fname{
	font-weight: bold;
    color: black;
    margin-left: 8px;
    font-size: 18px;

}



